// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.logo{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    object-fit: cover;
}
