<template>
    <div class="container">
        <transition name="fade">
            <div v-if="!wait" class="row">
                <div class="col-12 text-center">
                    Please wait...
                </div>
            </div>
        </transition>

        <div v-if="wait" class="row my-3">
            <div class="col-12 text-center mb-3">
                <button @click="fetchData('random')" :disabled="fetching" class="btn btn-success" type="button">
                    <i class="fa-solid fa-paw"></i> Randomize cat facts!
                    <span v-if="fetching" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </button>
            </div>

            <div class="col-12 col-lg-4" v-for="(item, index) in sortedData" :key="index" :holder="index++">
                <div class="card mb-4 border-0 animate__animated animate__bounceIn">
                    <div class="card-header d-flex justify-content-center border">
                        <useraction/>
                    </div>
                    <div @mouseover="magnify(index, 1)" @mouseleave="magnify(index, 0)" class="card-body text-center shadow align-items-center d-flex justify-content-center">
                        <div :id="'index-' + index" class="item">
                            <p v-text="item.fact"></p>
                        </div>
                        <div :id="'cat-' + index" class="icon">
                            <i class="fa-solid fa-cat"></i>
                        </div>
                    </div><!-- /.card-body -->                        
                </div><!-- .card -->
            </div><!-- /.col-12 .col-md-4 -->
        </div><!-- /.row -->
    </div>
</template>

<script>
    // Import user-action component.
    import useraction from './User-Action.vue';
    export default {
        components:{
            useraction
        },

        data: ()=>({
            // Data.
            catData: [],

            // Ajax
            wait: false,
            fetching: false,

            // User actions
            love: false,
            kiss: false,
            heart: false,
        }),

        mounted() {
            // Load data.
            this.fetchData();
        },

        computed: {
            // Sort data.
            sortedData: function() {
                function compare(a, b) {
                    if(a.fact < b.fact){
                        return -1;
                    }
                        
                    if(a.fact > b.fact){
                        return 1;
                    }
                        
                    return 0;
                }

                return this.catData.sort(compare);
            },
        },

        methods:{
            // Fetch data.
            fetchData: function(){
                this.fetching = true;
                this.catData = [];
                let request = axios.get('https://catfact.ninja/facts?limit=9').then(response =>{
                    return response.data;
                });

                request.then(result=>{
                    this.fetching = false;
                    this.wait = true;

                    // Data.
                    this.catData = result.data;
                });
            },

            // Animate with jQuery.
            magnify: function(num, arg){
                console.log('e', num)

                if(arg){
                    $('#index-' + num).addClass('magnify')
                    $('#cat-' + num).addClass('moveToRight')
                }else{
                    $('#index-' + num).removeClass('magnify')
                    $('#cat-' + num).removeClass('moveToRight')
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active{
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to{
    opacity: 0;
}

// Animation.
.item{
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.magnify{
    transform: scale(1.1);
}

.moveToRight{
    transition: all 0.3s ease-in-out;
    bottom: -35px!important;
    font-size: 120px!important;
}

.card-body{
    cursor: pointer;
    position: relative;
    overflow: hidden;
    min-height: 250px;
    max-height: 250px;

    .icon{
        position: absolute;
        bottom: -10px;
        left: 6px;
        font-size: 50px;
        opacity: .05;
        transition: all 0.2s ease-in-out;
    }
}
</style>