<template>
    <div>
        <ul class="mb-0">
            <li><i @click="love = !love, kiss = false, heart = false" :class="{'text-danger': love}" class="fa-solid fa-face-grin-hearts"></i></li>
            <li><i @click="kiss = !kiss, love = false, heart = false" :class="{'text-danger': kiss}" class="fa-solid fa-face-kiss"></i></li>
            <li><i @click="heart = !heart, love = false, kiss = false" :class="{'text-danger': heart}" class="fa-brands fa-gratipay"></i></li>
            <li><i @click="showModal = true" class="fa-solid fa-share"></i></li>
        </ul>

        <!-- Share modal -->
        <Transition name="modal">
            <div v-if="showModal" class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        <div class="modal-header">
                            Share this fact to your friends!
                        </div>

                        <div class="modal-body">
                            <label>Enter the email address</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-success">Send</button>
                            <button class="btn btn-dark" @click="showModal = false">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </Transition>
    </div>
</template>

<script>
    export default {
        data: ()=>({
            // User actions
            love: false,
            kiss: false,
            heart: false,

            // Modal
            showModal: false,
        }),

        methods:{
            // User action.
            userAction: function(){
                $('#shareModal').modal('show');
            }
        }
    }
</script>


<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active{
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to{
    opacity: 0;
}

ul{
    list-style-type: none;
    li{
        i{
            font-size: 20px;
            transition: all 0.3s ease-in-out;
            padding-right: 10px;
            &:hover{
                color: green;
            }
        }
        cursor: pointer;
        float:left;
    }
}

i{
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    padding-right: 10px;
    &:hover{
        color: green;
    }
}

// Modal
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 326px;
    margin: 0px auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-enter{
    opacity: 0;
}

.modal-leave-active{
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
</style>